@model SIGEBI.Application.Dtos.Configuration.PrestamosDtos.PrestamoDto
@using SIGEBI.Domain.Enums

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Prestamos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IdLibros" class="control-label"></label>
                <input asp-for="IdLibros" class="form-control" disabled />
                <input type="hidden" asp-for="IdLibros" />
                <span asp-validation-for="IdLibros" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCliente" class="control-label"></label>
                <input asp-for="IdCliente" class="form-control" disabled />
                <input type="hidden" asp-for="IdCliente" />
                <span asp-validation-for="IdCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdLgOpPrest" class="control-label"></label>
                <input asp-for="IdLgOpPrest" class="form-control" />
                <span asp-validation-for="IdLgOpPrest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatePrest" class="control-label"></label>
                <input asp-for="DatePrest" class="form-control" />
                <span asp-validation-for="DatePrest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateDevol" class="control-label"></label>
                <input asp-for="DateDevol" class="form-control" />
                <span asp-validation-for="DateDevol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateWasDevol" class="control-label"></label>
                <input asp-for="DateWasDevol" class="form-control" />
                <span asp-validation-for="DateWasDevol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<Status>()">
                    <option value="">-- Seleccione un Estatus --</option>>>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
