@model SIGEBI.Application.Dtos.Configuration.RolDtos.RolGetModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Rol
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rol)
        </dd>
        <dt class="col-sm-2">
            RolEstatus
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RolEstatus)
        </dd>
        <dt class="col-sm-2">
            IdLgOpRol
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdLgOpRol)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
